/* Colors for cell background: inherited down to "Hexagon" */

.inactive {
	background-color: hsl(var(--inactiveCellHue), var(--inactiveCellSat), var(--cellLum));
}

.inactive:hover {
	background-color: hsl(var(--inactiveCellHue), var(--inactiveCellSat), var(--cellHoverLum));
}

.safe {
	background-color: hsl(var(--safeCellHue), var(--safeCellSat), var(--cellLum));
}

.safe:hover {
	background-color: hsl(var(--safeCellHue), var(--safeCellSat), var(--cellHoverLum));
}

.bomb {
	background-color: hsl(var(--bombCellHue), var(--bombCellSat), var(--cellLum));
}

.bomb:hover {
	background-color: hsl(var(--bombCellHue), var(--bombCellSat), var(--cellHoverLum));
}


.text {
	display: inline;
	position: fixed;
	z-index: 5;
	
}