.group {
	background-color: var(--cardOnColor);
}

.btn {
	background-color: var(--linkColor) !important;
	color: var(--textColor) !important;
}

.btn:hover {
	color: var(--textColor) !important;
	background-color: var(--linkHoverColor) !important;
}

.btn:active {
	color: var(--textColor) !important;
	background-color: var(--linkActiveColor) !important;
}

.modalHeader {
	background-color: var(--cardOffColor);
}

.modalFooter {
	background-color: var(--cardOnColor) !important;
	justify-content: center !important;
}

.tip {
	font-size: 0.8rem;
}