.modal {
	max-width: 100vw !important;
}

.modalHeader {
	background-color: var(--cardOffColor);
}

.modalBody {
	background-color: var(--cardOnColor);
}

.btnGroup {
	width: 100%;
	flex-wrap: nowrap;
}

.btn {
	background-color: var(--linkColor) !important;
	color: var(--textColor) !important;
	font-size: var(--fontSize);

}

.btn:hover {
	color: var(--textColor) !important;
	background-color: var(--linkHoverColor) !important;
}

.btn:active {
	color: var(--textColor) !important;
	background-color: var(--linkActiveColor) !important;
}

.modalFooter {
	background-color: var(--cardOnColor) !important;
	justify-content: center !important;
}

.tip {
	font-size: calc(var(--fontSize) * 0.9);
}