@media (max-width: 767px) {
	.gameArea {
		flex-direction: column;
	}
}

@media (min-width: 768px) {
	.gameArea {
		flex-direction: row;
	}
	
}

.surroundingArea {
	height: 100%;
	width: 95%;
	max-width: 1000px;;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gameArea {
	position: fixed;
	top: 12vh;
	height: 70vh;
	width: 100%;
	max-width: 1000px;
	display: flex;
	gap: 1rem;
}