/* Hexagon is not supposed to handle any logic, but does need to inherit background-color as colors change based on state from "Cell" */

/* All 3 div's use .cell to create the same sized rectangle */
.cell {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: absolute;	
	padding: 0;
	width: var(--hexSide);
	height: var(--hexHeight);
	background-color: inherit;
	visibility: visible;
}

/* Two of the div's are rotated 60, and -60 degrees to create a hexagon shape */
.rot1 {
	background-color: inherit;
	transform: rotateZ(60deg);
}

.rot2 {
	background-color: inherit;
	transform: rotateZ(-60deg);
}