.header {
	background-color: var(--cardOffColor);
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	position: fixed;
	top: 0;
}

.headerText {
	font-size: var(--titleSize);
	font-family: var(--fancyFont);
	font-weight: bold;
	margin: 0;
}