.dragArea {
	display: flex;
	justify-content: center;
	align-items: center;
	/* width: 400%; */
	/* height: 400vh; */
	/* width: 100vw; */
	/* height: 100%; */
	height: fit-content;
	border: 6px solid hsl(var(--bombCellHue), var(--bombCellSat), var(--cellLum));
	border-radius: 50%;
	padding: 10rem 25rem;
	/* margin: 50px; */
	background-color: var(--playBackgroundColor);
}

.dragAreaContainer {
	width: 100%;
	height: 100%;
}