.footerRow {
	height: fit-content;
	flex-grow: 0;
	max-height: 12vh;
}

.footerCard {
	border-radius: .375rem .375rem 0 0 !important;
	border-bottom: 0;
	padding: 0;
}

.footerTextHeader {
	text-align: center;
	font-size: var(--titleSize);
	font-family: var(--standFont);
	margin: 0;
}

.footerTextBody {
	text-align: center;
	font-size: var(--textSize);
	font-family: var(--standFont);
	margin: 0;
}

.siteLink {
	text-decoration: none;
	color: var(--hintBtn);
	font-family: var(--fancyFont) !important;
}

.BMACBtn {
	height: 60px !important;
	width: 217px !important;
}

.rulesBtn {
	color: var(--textColor);
	background-color: var(--linkColor);
	height: 60px !important;
	width: 217px !important;
}

.rulesBtn:hover {
	color: var(--textColor) !important;
	background-color: var(--linkHoverColor) !important;
}

.rulesBtn:active {
	color: var(--textColor) !important;
	background-color: var(--linkActiveColor) !important;
}

.footerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}