.footer {
	height: 10vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	margin: 0 auto;
	background-color: var(--cardOffColor);
	padding: 0 1rem;
	bottom: 0;
	position: fixed;
}

.footerText {
	text-align: center;
	font-size: var(--textSize);
	font-family: var(--standFont);
	margin: 0;
}

.siteLink {
	text-decoration: none;
	color: var(--hintBtn);
	font-family: var(--fancyFont) !important;
}

.BMACBtn {
	width: clamp(1rem, 217px, 8rem) !important;
}

.rulesBtn {
	width: clamp(1rem, 217px, 8rem) !important;
	color: var(--textColor) !important;
	background-color: var(--linkColor) !important;
}

.rulesBtn:hover {
	color: var(--textColor) !important;
	background-color: var(--linkHoverColor) !important;
}

.rulesBtn:active {
	color: var(--textColor) !important;
	background-color: var(--linkActiveColor) !important;
}