/* .gameArea { */
	/* width: 100%; */
	/* height: 100%; */

	/* max-height: 100%; */
	/* min-height: 100% !important; */
	/* flex-basis: 100%;
	flex-grow: 1;
}

.gameAreaBody {
	overflow: hidden;
}
*/
@media (min-width: 768px) {
	.playArea {
		/* height: 80% !important; */
	}
}

@media (max-width: 767px) {
	.playArea {
		/* height: 80% !important; */
	}
}


 .playArea {
	/* max-height:%; */
	/* height: 100%; */
	/* flex-grow: 1;
	flex-shrink: 1; */
}

.gameAreaBody {
	flex-grow: 3;
	flex-shrink: 1;
	flex-basis: 80%;
	/* height: 50vh; */
	/* background-color: var(--playBackgroundColor) !important; */
	/* background-color: hsl(var(--bombCellHue), var(--bombCellSat), var(--cellLum)) !important; */
	/* background-color: var(--bombHSL); */

	overflow: hidden;
}

.finished {
	background-color: var(--safeHSL) !important;
}

.notFinished {
	background-color: var(--bombHSL) !important;
}

/* .rowContainer {
	transform: translateY(var(--hexHalfHeight))
} */