.statsCard {
	/* justify-self: flex-end; */
	/* align-self:flex-end; */
	/* height: fit-content; */
}

.newGameBtn {
	user-select: all;
}

.newGameBtn:hover {
	background-color: var(--hintBtnHover);
	cursor: pointer;
}


.coupleTitle {
	text-align: center;
	font-weight: bold;
	font-size: var(--fontSize);
}

.coupleBody {
	text-align: center;
	font-size: var(--fontSize);
}

.body {
	padding: 0.5rem !important;
	background-color: var(--cardOnColor);
}

.newGameLink {
	border: 0;
	padding: 0;
	text-align: center;
	color: var(--textColor);
	background-color: var(--linkColor);
}

.newGameLink:hover {
	color: var(--textColor);
	background-color: var(--linkHoverColor);
}

.newGameLink:active {
	color: var(--textColor);
	background-color: var(--linkActiveColor);
}

.linkTitle {
	text-decoration: underline;
}