// @import '../public/custom.scss';
@import "node_modules/bootstrap/scss/bootstrap";
:root {
	/* Colors: */
	--inactiveCellHue: 120;
	--inactiveCellSat: 0%;

	--safeCellHue: 120;
	--safeCellSat: 50%;

	--bombCellHue: 0;
	--bombCellSat: 50%;

	--cellLum: 60%;
	--cellHoverLum: 50%;

	--borderColor: black;
	--borderWidth: 2px;

	--hintBtn: hsl(208, 100%, 35%);
	--hintBtnHover: hsl(208, 100%, 25%);
	--hintBtnActive: hsl(91, 100%, 35%);
	--hintBtnActiveHover: hsl(91, 100%, 25%);

	/* Size Defaults */
	--fontSize: clamp(1rem, 1vw, 2rem);

	--cellHeight: clamp(2rem, 7vw, 6rem);
	--cellWidth: calc(var(--cellHeight)  / 1.731);

	--extraGap: calc(var(--cellHeight) / 10);
	--rowGap: calc((var(--cellHeight) * 1.3) + var(--extraGap));
	--rowHeight: calc((var(--cellHeight) / 2) + (var(--extraGap) / 2));

	--gameMargin: 1rem auto calc(1rem + (var(--cellHeight) / 2)) auto;
	--gamePadding: 0 2rem;
}


*, html, body {
	margin: 0;
}

p {
	font-size: var(--fontSize);
}