.btn {
	user-select: all;
}
.btn:hover {
	cursor: pointer;

}

.btnBody {
	background-color: var(--linkColor) !important;
}

.btnBody:hover {
	background-color: var(--linkHoverColor) !important;
}

.active {
	background-color: var(--hintBtnActive) !important;
}

.active:hover {
	background-color: var(--hintBtnActiveHover) !important;
}

.disabled {
	background-color: var(--disabledColor) !important;
}

.disabled:hover {
	background-color: var(--disabledColor) !important;
}

.column {
	/* margin-bottom: 0 !important; */
	padding: 0.25rem !important;
}